@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');


header {
    background-color: #5dd4da;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;

}

header  .logo a {
    font-size: 25px;
    color: #29d9d5;
    text-decoration: none;
 
}
header  .logo a span {
    color: #fff;
}


body {
    background-image: url("plan.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #8bbae9c3;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
  }

  form {
    background-color: #735bbac7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    gap: 2px;
  }

  .form-group {
    flex-basis: calc(50% - 10px);
    box-sizing: border-box;
    margin-bottom: 16px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input,
  select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }